name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[test,docs]
        python setup.py install
    - name: Clone HYDRAD
      uses: actions/checkout@v2
      with:
        repository: rice-solar-physics/HYDRAD
        path: HYDRAD
    - name: Test
      run: |
        pytest --hydrad-dir=$GITHUB_WORKSPACE/HYDRAD --cov=pydrad --cov-report=xml
    - name: Report coverage
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: true
        verbose: true
        file: ./coverage.xml
